# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/search-server/.vs/Sprint1/v16/ipch/AutoPCH
/search-server/.vs/Sprint1/v16
/search-server/Debug
/search-server/Sprint1.sln
/search-server/Sprint1.vcxproj
/search-server/Sprint1.vcxproj.user
/search-server/SearchServer.vcxproj.user
/search-server/SearchServer.vcxproj.filters
/search-server/SearchServer.vcxproj
/search-server/SearchServer.sln
/search-server/.vs/SearchServer/v16/Browse.VC.opendb
/search-server/.vs/SearchServer/v16/Browse.VC.db-wal
/search-server/.vs/SearchServer/v16/Browse.VC.db-shm
/search-server/.vs/SearchServer/v16/Browse.VC.db
/search-server/.vs/SearchServer/v16/.suo
/search-server/.vs/SearchServer/v16
/search-server/Release
